deploy
tagversion
todo.txt
INSTRUCTIONS.md
/bin
/log
/core
/cores_extra
/etc/.bash_aliases_bundle
/etc/.bash_aliases_slim
/shell/.bash_staging
/shell/.bash_temp
.trash
/packages
/playground
/snippets
/user
/state
/archive

