:root {
  --dmt-navy: #41468f;
  --dmt-magenta: #2b294c;
  --dmt-cyan: #3effe5;
  --dmt-green: #00ffbd;
  --dmt-violet: #986aeb; /* maybe a better violet than in dmt-gui, check and replace there! */

  /* From: https://github.com/uniqpath/dmt/blob/main/core/node/aspect-apps/search/front/src/App.svelte#L371-L393 */
  --warning: #e34042;
  --dmt-red: #e34042;
  --dmt-warning-pink: #efcaf8;
  --dmt-orange: #e5ae34;
  --dmt-navy: #41468f;
  /*--dmt-navy: #199EFF;
  --dmt-navy: #199EFF;*/
  --dmt-navy2: #292c5a;
  --dmt-cyan: #29b3bf;
  /*--dmt-bright-cyan-prev: #3EFFE5;*/
  --dmt-bright-cyan: #3dffec;
  --dmt-violet: #873bbf;
  --dmt-violet-dark: #2e1740;
  --dmt-vibrant-green: #5fe02a;
  --dmt-cool-green-rgb: 93, 246, 153;
  --dmt-cool-green: #5df699;
  --dmt-cool-cyan: #51f5c8;
  --dmt-cool-cyan2: #58e288;
  --zeta-green: #31e5c1;
  --zeta-green-highlight: #34fed7;
  --zeta-green_check: #32e6be;
  --search-input-width: 330px;

  /* NEW */
  --dmt-silver: #99B1BA;
  --dmt-yellow: #DFDB83;
}

/* Font from: https://google-webfonts-helper.herokuapp.com/fonts/nunito-sans?subsets=latin */

/* nunito-sans-200 - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/nunito-sans-v6-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/nunito-sans-v6-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/nunito-sans-v6-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/nunito-sans-v6-latin-200.woff') format('woff'), /* Modern Browsers */
       url('./fonts/nunito-sans-v6-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/nunito-sans-v6-latin-200.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

/* nunito-sans-300 - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/nunito-sans-v6-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/nunito-sans-v6-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/nunito-sans-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/nunito-sans-v6-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./fonts/nunito-sans-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/nunito-sans-v6-latin-300.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

/* nunito-sans-regular - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/nunito-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/nunito-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/nunito-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/nunito-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/nunito-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/nunito-sans-v6-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

/* nunito-sans-600 - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/nunito-sans-v6-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/nunito-sans-v6-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/nunito-sans-v6-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/nunito-sans-v6-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./fonts/nunito-sans-v6-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/nunito-sans-v6-latin-600.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

/* nunito-sans-700 - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/nunito-sans-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/nunito-sans-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/nunito-sans-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/nunito-sans-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/nunito-sans-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/nunito-sans-v6-latin-700.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

/* nunito-sans-800 - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/nunito-sans-v6-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/nunito-sans-v6-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/nunito-sans-v6-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/nunito-sans-v6-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./fonts/nunito-sans-v6-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/nunito-sans-v6-latin-800.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

/* nunito-sans-900 - latin */
/* prettier-ignore */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/nunito-sans-v6-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/nunito-sans-v6-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/nunito-sans-v6-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/nunito-sans-v6-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./fonts/nunito-sans-v6-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/nunito-sans-v6-latin-900.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(29, 28, 45);
  background: linear-gradient(180deg, rgba(29, 28, 45, 1) 0%, rgba(73, 71, 101, 1) 100%);
  background-size: cover;
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  color: white;
}

h1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.35rem;
}

a {
  color: white;
}

a:hover {
  color: var(--dmt-cyan);
}

table {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  /*border-radius-bottom-left: 10px;
  border-radius-bottom-right: 10px;*/
}

thead {
  background-color: rgba(255, 255, 255, 0.15);
}

tr:first-child {
  border-top: 1px solid #aaa;
}

th {
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
}

td {
  padding: 0.2rem 0.5rem;
  font-size: 0.85rem;
}

tr:first-child td {
  padding-top: 0.5rem;
}

tr:last-child td {
  padding-bottom: 0.5rem;
}

input {
  position: relative;
  padding: 0.625rem 0.75rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s;
}

input:hover {
  background-color: rgba(var(--dmt-cool-green-rgb), 0.2);
}

input:focus {
  background-color: rgba(var(--dmt-cool-green-rgb), 0.3);
}

input[type='search'] {
  width: var(--search-input-width);
}

.view-container {
  width: 100%;
  max-width: 920px;
  padding: 0 1rem;
  margin: 0 auto;
}

.table-empty-text {
  padding: 0.75rem;
  text-align: center;
}
